body {
    background-color: #FEF9E7;
}

a {
    text-decoration: none;
    color: inherit;
}

.title-header:hover {
    color: #ffc107;
}

.btn-submit {
    display: block;
    font-weight: bold;
    margin-left: auto;
    width: 15%;
}